@import "tailwindcss";

@theme {
    --color-primary: #0058be;
    --color-primary-hover: #004395;
    --color-surface: #f8f9fb;
    --color-surface-container: #edeef0;
    --font-montserrat: "Montserrat", sans-serif;
    --font-inter: "Inter", sans-serif;
    --radius-xl: 1rem;
    --radius-2xl: 1.5rem;

    --container-xl: 1440px;
}

body {
    font-family: var(--font-inter);
    background-color: var(--color-surface);
    color: #191c1e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-montserrat);
}

.search-drawer {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
}

.search-drawer.open {
    max-height: 500px;
    /* Adjust this value as needed */
    opacity: 1;
}

.text-scale-large {
    font-size: 115%;
}

.text-scale-xlarge {
    font-size: 125%;
}

.underline-links a {
    text-decoration: underline !important;
}

.high-contrast {
    --bg-surface: #000000;
    --text-primary: #ffffff;
    background-color: #000000 !important;
    color: #ffffff !important;
}

.high-contrast button,
.high-contrast a {
    border: 2px solid #fff !important;
    background-color: #000 !important;
    color: #fff !important;
}